body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(145,0,255,1) 100%);
    display: flexbox;
}
h1{
    text-align: center; 
    color: rgb(255, 255, 255);
    margin-top: 5vh;
    margin-bottom: 15vh;
    font-size: 3rem;
}
.main{
    margin-left: 10vw;
    width: 80vw;
    height: 60vh;
}
.towerImg{
    box-sizing: border-box;
        -webkit-clip-path: ellipse(42% 40% at 50% 42%);
    clip-path: ellipse(42% 40% at 50% 42%);
    width: 50vw;
}
.information{
    float: right;
}
.content{
    padding: 1vw;
    height: fit-content;
    width: 25vw;
    border-radius: 10px;
    background-color: white;
    margin-top: 10%;
    margin-bottom: 10px;
}
.form{
    padding: 1vw;
    height: fit-content;
    width: 70vw;
    margin-left: 15vw;
    border-radius: 10px;
    background-color: white;
}
@media only screen and (max-width: 980px) {
    .towerImg{
        width: 100%;
    }
    .content{
        width: 70vw;
    }
    .information{
        float:center !important;
    }
    .main{
        height: 100vh;
    }
  }