body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,58,121,1) 29%, rgba(0,0,0,1) 100%);
}
h1{
    text-align: center; 
    color: rgb(255, 255, 255);
    margin-top: 5vh;
    margin-bottom: 15vh;
    font-size: 3rem;
}
.main{
    margin-left: 10vw;
    width: 80vw;
}
.towerImg{
    clip-path: polygon(31.75% 16%, 42.5% 14%, 55.25% 13.25%, 65% 17%, 69% 23.5%, 76.25% 30.25%, 78% 36.5%, 80% 42.75%, 83.75% 48.75%, 84% 56.25%, 81.5% 64.25%, 67.97% 71.41%, 52.5% 69.5%, 37.5% 67.25%, 20.75% 61.5%, 11.25% 49.25%, 13.75% 28%, 22.75% 20.25%);
    width: 50vw;
}
.information{
    float: right;
}
.content{
    
    padding: 1vw;
    height: fit-content;
    width: 25vw;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
}